.app {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}
.btn {
        text-align: center;
}
    


.toggle {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
.up-down-count {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
.numberCounter {
     border: 1px solid black;
     width: 100%;
     text-align: center;
}
.pixelCounter {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
.colorChanger {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
.clock {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}